.layout {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-section {

    margin-top: 5rem;
    border: 5px solid rgb(63, 63, 63);
    border-radius: 5px;
    box-shadow: 20px -15px 5px 10px rgb(161, 139, 139);
    min-width: 800px;

    h1{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    input{
        height: 28px;
        border: 2px solid gainsboro;
        border-radius: 5px;
    }
}
.todo-section{
    margin-top: 2em;
    border: 5px solid rgb(63, 63, 63);
    border-radius: 5px;
    min-width: 800px;
}