.list-section {
  box-shadow: 5px 5px 5px 5px #fff2006d;
  background-color: #fff200;
  padding: 1rem;

  .new-list-container{
    display: grid;
    align-content: center;
    grid-auto-flow: column;

    #new-list-input{
      border: none;
      box-shadow: -3px 0px 0px 3px;
      height: 28px;
    }
    #new-list-input:focus-visible {
      outline: none;
    }
    #new-list-button{
      border: none;
      background: none;
      box-shadow: 3px 0px 0px 3px;
    }
  }
  
  h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: calc(28px * 1.5);
    letter-spacing: -1.5px;
  }
  
  ul {
    padding-inline-start: 0;
    li {
      list-style: none;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p{
      cursor: pointer;
    }
    p:hover {
      opacity: 0.75;
    }
    .button-container{
        display: flex;
        margin-left: 10px;
    }
    .delete-button,
    .edit-button {
      cursor: pointer;
      background-color: red;
      height: 20px;
      width: 30px;
      box-shadow: none;
      display: grid;
      align-content: center;
      padding: 0;
      margin: 0;
    }
    .edit-button {
      background-color: orange;
      margin-right: 3px;
    }
  }
}
