.list-section {
  margin: 1em;
  padding: 2rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2),
    -2px -2px 15px rgba(255, 255, 255, 0.1);

  .new-lists-container {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    border: 3px solid var(--color-secondary);
    background: var(--color-accent);

    #new-list-input {
      text-indent: 5px;
      height: 28px;
    }

    #new-list-button {
      border: none;
      background-color: transparent;
      border-left: 3px solid black;
    }
  }
  ul {
    padding-inline-start: 0;
    margin-top: 3rem;
    list-style: none;
  }

  li {
    width: max-content;
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scale: 1;
    filter: brightness(75%);
  }

  li:hover{
    filter: brightness(100%);
  }
  li:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 0.1s;
    filter: brightness(100%);
    font-weight: bold;
  }
  li:hover + li{
    transform: scale(1.1);
    transition-duration: 0.1s;
  }
  li:has(+ li:hover){
    transform: scale(1.1);
    transition-duration: 0.1s;
  }

  #delete-button {
    cursor: pointer;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 100%;

    display: grid;
    align-content: center;
    padding: 0;
    margin: 0;
  }
}
