.list-section {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-accent)
  );
  padding: 2rem;

  .new-list-container {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    border: 3px solid var(--color-secondary);
    background: var(--color-accent);

    #new-list-input {
      text-indent: 5px;
      height: 28px;
    }

    #new-list-button {
      border: none;
      background-color: transparent;
      border-left: 3px solid black;

      /* box-shadow: 3px 0px 0px 3px var(--color-accent); */
    }
  }
  #lists {
    padding-inline-start: 0;
    margin-top: 3rem;
    .list {
      list-style: none;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      scale: 1;
      filter: brightness(75%);
    }
    .list:hover {
      filter: brightness(100%);
    }
    .list:hover p {
      cursor: pointer;
      transform: scale(1.5);
      transition-duration: 0.1s;
      filter: brightness(100%);
    }
    .list:hover + li p {
      transform: scale(1.1);
      transition-duration: 0.1s;
    }
    .list:has(+ li:hover) p {
      transform: scale(1.1);
      transition-duration: 0.1s;
    }
    .button-container {
      display: flex;
      margin-left: 10px;
    }
    #delete-button,
    .edit-button {
      cursor: pointer;
      background-color: red;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      box-shadow: none;
      display: grid;
      align-content: center;
      padding: 0;
      margin: 0;
    }
    .edit-button {
      background-color: orange;
      margin-right: 3px;
    }
  }
}
