.layout {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr;
    padding: 1rem 2rem;
}

.todo-section {
    border: 5px solid rgb(63, 63, 63);
    border-radius: 5px;
    box-shadow: 20px -15px 5px 10px rgb(161, 139, 139);
    margin: 0rem 5rem;

    h1{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    input{
        height: 28px;
        border: 2px solid gainsboro;
        border-radius: 5px;
    }
}
