@import url(/styles/lists.css);
@import url(/styles/tasks.css);
@import url(/styles/typography.css);
* {
  --color-text: #14223c;
  --color-main: #f8f1bf;
  --color-secondary: #d1b58f;
  --color-accent: #5f7a82;
  --color-input-text: #14223c;

  @media (prefers-color-scheme: dark) {
    --color-text: #f8f1bf;
    --color-main: #14223c;
    --color-secondary: #253a54;
    --color-accent: #5f7a82;
  }
  color: var(--color-text);

  margin: 0;
  padding: 0;
  input {
    background-color: var(--color-text);
    color: var(--color-input-text);
    border: none;
    cursor: text;
  }
  input:focus-within {
    outline: none;
  }
}
body {
  padding: 0;
  margin: 0;
  background: var(--color-main);
  box-sizing: border-box;
}
.layout {
  display: grid;
  height: 100vh;
  grid-auto-flow: column;
  grid-template-columns: 2fr 7fr;
}
