@import url(/styles/lists.css);
@import url(/styles/tasks.css);
body{
    padding: 0;
    margin: 0;
    background-color: gray;
    box-sizing: border-box;
}
.layout {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 5fr;
  padding: 1rem 2rem;
  margin: 0;

}
