.task-section {
  border: 1px solid rgb(63, 63, 63);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px var(--color-accent);
  margin: 1rem 5rem;
  background: var(--color-secondary);

  h1 {
    text-align: center;
  }
  .new-task-container {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    margin: 1em auto;
    max-width: 300px;

    #new-task-input {
      box-shadow: -3px 0px 0px 3px var(--color-accent);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      text-indent: 10px;
      height: 28px;
    }

    #new-task-button {
      background: var(--color-accent);
      box-shadow: 3px 0px 0px 3px var(--color-accent);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
    }
  }
  #task-list {
    list-style: none;
    padding-inline-start: 0;

    .task {
      margin: 5px;
      font-size: 24px;
      cursor: pointer;
      border-radius: 7px;
      padding: 5px 1em;
      background-color: var(--color-accent);
    }
    .task::after {
      content: "...";
    }
    .task:hover {
      opacity: 0.75;
    }
    .completed {
      background-color: var(--color-secondary);
      text-decoration: line-through;
    }
  }
}
